:root {
	--bg-dark: rgb(5, 8, 11);
	--bg-light: rgb(251, 247, 244);
}

* {
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}

body.dark {
	background-color: var(--bg-dark);
}

body.light {
	background-color: var(--bg-light);
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 23vmin;
	font-weight: 100;
	text-align: center;
	position: absolute;
	color: transparent;
	top: 0%;
	left: 50%;
	cursor: pointer;
}

@keyframes aberration-a1 {
	0% {
		transform: translate(-47%, -3%);
	}

	100% {
		transform: translate(-53%, 3%);
	}
}

@keyframes aberration-a2 {
	0% {
		animation-timing-function: ease-in;
		transform: translate(-50%, 0%);
	}

	8.33% {
		transform: translate(-48%, 3%);
	}

	12.5% {
		transform: translate(-47%, 1.5%);
	}

	25% {
		transform: translate(-50%, -3%);
	}

	37.5% {
		transform: translate(-53%, 1.5%);
	}

	41.67% {
		transform: translate(-52%, 3%);
	}

	58.33% {
		transform: translate(-48%, -3%);
	}

	62.5% {
		transform: translate(-47%, -1.5%);
	}

	75% {
		transform: translate(-50%, 3%);
	}

	87.5% {
		transform: translate(-53%, -1.5%);
	}

	91.67% {
		transform: translate(-52%, -3%);
	}

	100% {
		transform: translate(-50%, 0%);
	}
}

@keyframes aberration-a3 {
	0% {
		transform: translate(-50%, 0%) rotate(-4deg);
	}

	100% {
		transform: translate(-50%, 0%) rotate(4deg);
	}
}

@keyframes aberration-a4 {
	0% {
		transform: translate(-50%, 0%) rotateY(-30deg) rotateZ(-2deg);
	}

	50% {
		transform: translate(-50%, 0%);
	}

	100% {
		transform: translate(-50%, 0%) rotateY(30deg) rotateZ(2deg);
	}
}

@keyframes aberration-a5 {
	0% {
		transform: translate(-50%, 0%) skew(-10deg);
	}

	100% {
		transform: translate(-50%, 0%) skew(10deg);
	}
}

@keyframes aberration-a6 {
	0% {
		transform: translate(-50%, 0%) scale(100%);
	}

	100% {
		transform: translate(-50%, 0%) scale(70%);
	}
}

h1.red-a1 {
	animation: aberration-a1 3s ease-in-out 0.5s infinite alternate both;
}

h1.green-a1 {
	animation: aberration-a1 3s ease-in-out 1s infinite alternate both;
}

h1.blue-a1 {
	animation: aberration-a1 3s ease-in-out 1.5s infinite alternate both;
}

h1.red-a2 {
	animation: aberration-a2 6s linear 1s infinite alternate both;
}

h1.green-a2 {
	animation: aberration-a2 6.5s linear 1s infinite alternate both;
}

h1.blue-a2 {
	animation: aberration-a2 7s linear 1s infinite alternate both;
}

h1.red-a3 {
	animation: aberration-a3 3s linear 1s infinite alternate both;
}

h1.green-a3 {
	animation: aberration-a3 3.5s linear 1s infinite alternate both;
}

h1.blue-a3 {
	animation: aberration-a3 4s linear 1s infinite alternate both;
}

h1.red-a4 {
	animation: aberration-a4 4s linear 1s infinite alternate both;
}

h1.green-a4 {
	animation: aberration-a4 4.25s linear 1s infinite alternate both;
}

h1.blue-a4 {
	animation: aberration-a4 4.5s linear 1s infinite alternate both;
}

h1.red-a5 {
	animation: aberration-a5 3s ease-in-out 1s infinite alternate both;
}

h1.green-a5 {
	animation: aberration-a5 3.25s ease-in-out 1s infinite alternate both;
}

h1.blue-a5 {
	animation: aberration-a5 3.5s ease-in-out 1s infinite alternate both;
}

h1.red-a6 {
	animation: aberration-a6 6s ease-in-out 1s infinite alternate both;
}

h1.green-a6 {
	animation: aberration-a6 6.25s ease-in-out 1s infinite alternate both;
}

h1.blue-a6 {
	animation: aberration-a6 6.5s ease-in-out 1s infinite alternate both;
}

h1.dark {
	mix-blend-mode: lighten;
}

h1.light {
	mix-blend-mode: multiply;
}

h1.red-dark {
	color: #ff0000;
}

h1.green-dark {
	color: #00ff00;
}

h1.blue-dark {
	color: #0000ff;
}

h1.red-light {
	color: #0fffff;
}

h1.green-light {
	color: #ff0fff;
}

h1.blue-light {
	color: #ffff0f;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2vmin;
	font-weight: 400;
	text-align: center;
}

h2.dark {
	color: hsl(0, 0%, 50%);
}

h2.light {
	color: hsl(0, 0%, 50%);
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25vmin;
	font-weight: 400;
	text-align: left;
	color: hsl(0, 0%, 50%);
}

section {
	padding: 1vmin;
}

section.dark-1 {
	background-color: hsl(228, 10%, 8%);
}

section.dark-2 {
	background-color: var(--bg-dark);
}

section.light-1 {
	background-color: hsl(43, 10%, 92%);
}

section.light-2 {
	background-color: var(--bg-light);
}

footer {
	padding: 1vw;
}

button {
	border: none;
	background-color: transparent;
	transition-duration: 0.1s;
	opacity: 0.33;
	z-index: 100;
}

button.logo {
	position: absolute;
	top: 0%;
	left: 0%;
}

#button-logo-small {
	width: 4vmin;
}

button.theme {
	font-size: 2vmin;
	position: fixed;
	top: 0%;
	right: 0%;
}

button:hover {
	opacity: 0.66;
}

button:active {
	opacity: 1;
}

iframe.dark {
	opacity: 0.65;
}

iframe.light {
	opacity: 0.8;
}

iframe.dark:hover {
	opacity: 1;
}

iframe.light:hover {
	opacity: 1;
}

iframe.youtube {
	margin: 1vmin;
	border: none;
	width: 30vmin;
	aspect-ratio: 1;
	min-width: fit-content;
}

iframe.soundcloud {
	margin: 1vmin;
	border: none;
	width: 30vmin;
	aspect-ratio: 2;
	min-width: fit-content;
}

img.social {
	height: 5vmin;
	padding: 1vmin;
	margin: 1vmin;
	opacity: 50%;
}

img.social:hover {
	opacity: 100%;
}


img.picture {
	margin: 1vmin;
	border: none;
	width: 30vmin;
}

img.dark {
	opacity: 0.65;
}

img.light {
	opacity: 0.8;
}

img.dark:hover {
	opacity: 1;
}

img.light:hover {
	opacity: 1;
}
